# Vivado build artifacts
*.log
*.jou
*.wdb
*.pb
*.dcp
*.cache/
*.hw/
*.runs/
.Xil/
*.ip_user_files/
*.sim/

vivado/**/.Xil/
vivado/**/.cache/
vivado/**/.runs/
vivado/**/.hw/
vivado/**/.sim/
vivado/**/ip_user_files/

*.xpr
*.lpr