# Vivado build artifacts
*.jou
*.log
*.rpt
*.str
*.wdb
*.wdf
*.dcp
*.ltx
*.pb
*.html
*.xml

vivado/**/.Xil/
vivado/**/.cache/
vivado/**/.runs/
vivado/**/.hw/
vivado/**/.sim/
vivado/**/ip_user_files/

*.xpr
*.lpr
